﻿body {
  margin:0px;
  background-color:rgba(233, 236, 240, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:600px;
  background:inherit;
  background-color:rgba(233, 236, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u761 {
  position:absolute;
  left:0px;
  top:660px;
  width:1440px;
  height:600px;
}
#u762 {
  position:absolute;
  left:2px;
  top:292px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:601px;
}
#u763 {
  position:absolute;
  left:0px;
  top:60px;
  width:1440px;
  height:600px;
  font-size:48px;
}
#u764 {
  position:absolute;
  left:2px;
  top:292px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:63px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u765 {
  position:absolute;
  left:596px;
  top:486px;
  width:195px;
  height:63px;
  font-size:16px;
  color:#FFFFFF;
}
#u766 {
  position:absolute;
  left:2px;
  top:22px;
  width:191px;
  word-wrap:break-word;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(37, 44, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u768 {
  position:absolute;
  left:2px;
  top:0px;
  width:1440px;
  height:60px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u769 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u770 {
  position:absolute;
  left:1123px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u772 {
  position:absolute;
  left:1193px;
  top:22px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:26px;
}
#u775 {
  position:absolute;
  left:24px;
  top:15px;
  width:130px;
  height:26px;
}
#u776 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u777 {
  position:absolute;
  left:1060px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u779 {
  position:absolute;
  left:1277px;
  top:22px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u780 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u781 {
  position:absolute;
  left:1334px;
  top:22px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u782 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u783 {
  position:absolute;
  left:963px;
  top:22px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:60px;
  text-align:center;
}
#u785 {
  position:absolute;
  left:220px;
  top:270px;
  width:1000px;
  height:80px;
  font-size:60px;
  text-align:center;
}
#u786 {
  position:absolute;
  left:0px;
  top:6px;
  width:1000px;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  text-align:center;
}
#u787 {
  position:absolute;
  left:110px;
  top:727px;
  width:1200px;
  height:60px;
  font-size:40px;
  text-align:center;
}
#u788 {
  position:absolute;
  left:0px;
  top:7px;
  width:1200px;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:750px;
}
#u789 {
  position:absolute;
  left:0px;
  top:1260px;
  width:1440px;
  height:750px;
}
#u790 {
  position:absolute;
  left:2px;
  top:367px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
  text-align:center;
}
#u791 {
  position:absolute;
  left:971px;
  top:1332px;
  width:419px;
  height:67px;
  font-size:30px;
  text-align:center;
}
#u792 {
  position:absolute;
  left:0px;
  top:16px;
  width:419px;
  word-wrap:break-word;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:41px;
}
#u794 {
  position:absolute;
  left:998px;
  top:1482px;
  width:37px;
  height:41px;
}
#u795 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u796 {
  position:absolute;
  left:1057px;
  top:1482px;
  width:341px;
  height:41px;
  font-size:30px;
}
#u797 {
  position:absolute;
  left:0px;
  top:4px;
  width:341px;
  word-wrap:break-word;
}
#u798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u799 {
  position:absolute;
  left:998px;
  top:1582px;
  width:41px;
  height:41px;
}
#u800 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u801 {
  position:absolute;
  left:1062px;
  top:1582px;
  width:336px;
  height:41px;
  font-size:30px;
}
#u802 {
  position:absolute;
  left:0px;
  top:4px;
  width:336px;
  word-wrap:break-word;
}
#u803 {
  position:absolute;
  left:40px;
  top:1345px;
  width:850px;
  height:550px;
  overflow:hidden;
}
#u803_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:550px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u803_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:550px;
}
#u805 {
  position:absolute;
  left:2px;
  top:267px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u806 {
  position:absolute;
  left:225px;
  top:30px;
  width:400px;
  height:70px;
  font-size:20px;
  text-align:center;
}
#u807 {
  position:absolute;
  left:0px;
  top:23px;
  width:400px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:461px;
}
#u808 {
  position:absolute;
  left:0px;
  top:100px;
  width:850px;
  height:450px;
}
#u809 {
  position:absolute;
  left:2px;
  top:217px;
  width:846px;
  word-wrap:break-word;
}
#u803_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:550px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u803_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:550px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:550px;
}
#u811 {
  position:absolute;
  left:2px;
  top:267px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u812 {
  position:absolute;
  left:225px;
  top:30px;
  width:400px;
  height:70px;
  font-size:20px;
  text-align:center;
}
#u813 {
  position:absolute;
  left:0px;
  top:23px;
  width:400px;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:461px;
}
#u814 {
  position:absolute;
  left:0px;
  top:100px;
  width:850px;
  height:450px;
}
#u815 {
  position:absolute;
  left:2px;
  top:217px;
  width:846px;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:600px;
  background:inherit;
  background-color:rgba(233, 236, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:0px;
  top:2010px;
  width:1440px;
  height:600px;
}
#u817 {
  position:absolute;
  left:2px;
  top:292px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  text-align:center;
}
#u818 {
  position:absolute;
  left:364px;
  top:2050px;
  width:709px;
  height:50px;
  font-size:35px;
  text-align:center;
}
#u819 {
  position:absolute;
  left:0px;
  top:4px;
  width:709px;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:77px;
  top:2220px;
  width:1300px;
  height:356px;
  overflow:hidden;
}
#u820_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:356px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:381px;
}
#u821 {
  position:absolute;
  left:0px;
  top:20px;
  width:600px;
  height:380px;
}
#u822 {
  position:absolute;
  left:2px;
  top:182px;
  width:596px;
  word-wrap:break-word;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:381px;
}
#u823 {
  position:absolute;
  left:700px;
  top:20px;
  width:600px;
  height:380px;
}
#u824 {
  position:absolute;
  left:2px;
  top:182px;
  width:596px;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:401px;
}
#u825 {
  position:absolute;
  left:350px;
  top:0px;
  width:600px;
  height:400px;
}
#u826 {
  position:absolute;
  left:2px;
  top:192px;
  width:596px;
  word-wrap:break-word;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1437px;
  height:150px;
}
#u829 {
  position:absolute;
  left:0px;
  top:4335px;
  width:1437px;
  height:150px;
}
#u830 {
  position:absolute;
  left:2px;
  top:67px;
  width:1433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:800px;
}
#u831 {
  position:absolute;
  left:0px;
  top:3535px;
  width:1440px;
  height:800px;
}
#u832 {
  position:absolute;
  left:2px;
  top:392px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:260px;
}
#u835 {
  position:absolute;
  left:0px;
  top:4485px;
  width:1440px;
  height:260px;
}
#u836 {
  position:absolute;
  left:2px;
  top:122px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u838 {
  position:absolute;
  left:87px;
  top:4504px;
  width:210px;
  height:231px;
}
#u839 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u840 {
  position:absolute;
  left:162px;
  top:4521px;
  width:49px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u842 {
  position:absolute;
  left:162px;
  top:4576px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u844 {
  position:absolute;
  left:161px;
  top:4603px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u847 {
  position:absolute;
  left:370px;
  top:4504px;
  width:210px;
  height:231px;
}
#u848 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u849 {
  position:absolute;
  left:421px;
  top:4521px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u851 {
  position:absolute;
  left:380px;
  top:4575px;
  width:200px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u852 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u854 {
  position:absolute;
  left:680px;
  top:4504px;
  width:210px;
  height:231px;
}
#u855 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u856 {
  position:absolute;
  left:731px;
  top:4521px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u859 {
  position:absolute;
  left:1010px;
  top:4510px;
  width:210px;
  height:231px;
}
#u860 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u861 {
  position:absolute;
  left:1061px;
  top:4527px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u863 {
  position:absolute;
  left:757px;
  top:4575px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u865 {
  position:absolute;
  left:1030px;
  top:4575px;
  width:161px;
  height:17px;
  color:#FFFFFF;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u867 {
  position:absolute;
  left:1030px;
  top:4615px;
  width:170px;
  height:17px;
  color:#FFFFFF;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u869 {
  position:absolute;
  left:1030px;
  top:4654px;
  width:166px;
  height:7px;
  color:#FFFFFF;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:1030px;
  top:4694px;
  width:187px;
  height:17px;
  color:#FFFFFF;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:240px;
}
#u874 {
  position:absolute;
  left:0px;
  top:4742px;
  width:1440px;
  height:240px;
}
#u875 {
  position:absolute;
  left:2px;
  top:112px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u876 {
  position:absolute;
  left:699px;
  top:4793px;
  width:135px;
  height:23px;
}
#u877 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
}
#u878 {
  position:absolute;
  left:667px;
  top:4879px;
  width:200px;
  height:64px;
}
#u879 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u880 {
  position:absolute;
  left:576px;
  top:4843px;
  width:382px;
  height:17px;
  color:#CCCCCC;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:800px;
}
#u882 {
  position:absolute;
  left:0px;
  top:2735px;
  width:1440px;
  height:800px;
}
#u883 {
  position:absolute;
  left:2px;
  top:392px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u884 {
  position:absolute;
  left:110px;
  top:787px;
  width:1200px;
  height:60px;
  font-size:20px;
  text-align:center;
}
#u885 {
  position:absolute;
  left:0px;
  top:18px;
  width:1200px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  text-align:center;
}
#u886 {
  position:absolute;
  left:570px;
  top:380px;
  width:130px;
  height:30px;
  font-size:25px;
  text-align:center;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  text-align:center;
}
#u888 {
  position:absolute;
  left:420px;
  top:380px;
  width:130px;
  height:30px;
  font-size:25px;
  text-align:center;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  text-align:center;
}
#u890 {
  position:absolute;
  left:720px;
  top:380px;
  width:130px;
  height:30px;
  font-size:25px;
  text-align:center;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  text-align:center;
}
#u892 {
  position:absolute;
  left:870px;
  top:380px;
  width:130px;
  height:30px;
  font-size:25px;
  text-align:center;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u894 {
  position:absolute;
  left:480px;
  top:2128px;
  width:480px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:1024px;
  top:1682px;
  width:366px;
  height:191px;
  overflow:hidden;
}
#u896_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:191px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u896_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u899 {
  position:absolute;
  left:55px;
  top:16px;
  width:270px;
  height:150px;
  font-size:15px;
}
#u900 {
  position:absolute;
  left:0px;
  top:30px;
  width:270px;
  word-wrap:break-word;
}
#u896_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:191px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u896_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u901 {
  position:absolute;
  left:55px;
  top:16px;
  width:270px;
  height:150px;
  font-size:15px;
}
#u902 {
  position:absolute;
  left:0px;
  top:30px;
  width:270px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:118px;
}
#u903 {
  position:absolute;
  left:137px;
  top:1119px;
  width:1156px;
  height:103px;
}
#u904 {
  position:absolute;
  left:2px;
  top:44px;
  width:1152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u905 {
  position:absolute;
  left:613px;
  top:1156px;
  width:221px;
  height:24px;
  font-size:20px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:191px;
}
#u910 {
  position:absolute;
  left:204px;
  top:854px;
  width:121px;
  height:180px;
}
#u911 {
  position:absolute;
  left:2px;
  top:82px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u912 {
  position:absolute;
  left:232px;
  top:951px;
  width:64px;
  height:17px;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:191px;
}
#u915 {
  position:absolute;
  left:376px;
  top:854px;
  width:121px;
  height:180px;
}
#u916 {
  position:absolute;
  left:2px;
  top:82px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u917 {
  position:absolute;
  left:391px;
  top:951px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:191px;
}
#u920 {
  position:absolute;
  left:554px;
  top:854px;
  width:121px;
  height:180px;
}
#u921 {
  position:absolute;
  left:2px;
  top:82px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u922 {
  position:absolute;
  left:569px;
  top:951px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:191px;
}
#u925 {
  position:absolute;
  left:738px;
  top:854px;
  width:121px;
  height:180px;
}
#u926 {
  position:absolute;
  left:2px;
  top:82px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u927 {
  position:absolute;
  left:770px;
  top:951px;
  width:62px;
  height:19px;
  font-size:16px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:191px;
}
#u930 {
  position:absolute;
  left:921px;
  top:854px;
  width:121px;
  height:180px;
}
#u931 {
  position:absolute;
  left:2px;
  top:82px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u932 {
  position:absolute;
  left:951px;
  top:951px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u934 {
  position:absolute;
  left:955px;
  top:978px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:191px;
}
#u936 {
  position:absolute;
  left:1107px;
  top:854px;
  width:121px;
  height:180px;
}
#u937 {
  position:absolute;
  left:2px;
  top:82px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u939 {
  position:absolute;
  left:1140px;
  top:956px;
  width:66px;
  height:17px;
  font-size:16px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u941 {
  position:absolute;
  left:1143px;
  top:978px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:109px;
}
#u943p000 {
  position:absolute;
  left:-10px;
  top:51px;
  width:359px;
  height:6px;
  -webkit-transform:rotate(18deg);
  -moz-transform:rotate(18deg);
  -ms-transform:rotate(18deg);
  transform:rotate(18deg);
}
#u943p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:362px;
  height:8px;
}
#u943.compound {
  width:0px;
  height:0px;
}
#u943 {
  position:absolute;
  left:275px;
  top:1038px;
  width:338px;
  height:108px;
}
#u944 {
  position:absolute;
  left:2px;
  top:46px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:113px;
}
#u945p000 {
  position:absolute;
  left:-17px;
  top:53px;
  width:233px;
  height:6px;
  -webkit-transform:rotate(29deg);
  -moz-transform:rotate(29deg);
  -ms-transform:rotate(29deg);
  transform:rotate(29deg);
}
#u945p000_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:234px;
  height:8px;
}
#u945.compound {
  width:0px;
  height:0px;
}
#u945 {
  position:absolute;
  left:445px;
  top:1034px;
  width:198px;
  height:112px;
}
#u946 {
  position:absolute;
  left:2px;
  top:48px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:105px;
}
#u947p000 {
  position:absolute;
  left:-30px;
  top:50px;
  width:123px;
  height:3px;
  -webkit-transform:rotate(59deg);
  -moz-transform:rotate(59deg);
  -ms-transform:rotate(59deg);
  transform:rotate(59deg);
}
#u947p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:126px;
  height:4px;
}
#u947.compound {
  width:0px;
  height:0px;
}
#u947 {
  position:absolute;
  left:613px;
  top:1042px;
  width:62px;
  height:104px;
}
#u948 {
  position:absolute;
  left:2px;
  top:44px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:107px;
}
#u949p000 {
  position:absolute;
  left:-32px;
  top:51px;
  width:124px;
  height:3px;
  -webkit-transform:rotate(119deg);
  -moz-transform:rotate(119deg);
  -ms-transform:rotate(119deg);
  transform:rotate(119deg);
}
#u949p000_img {
  position:absolute;
  left:-1px;
  top:-3px;
  width:126px;
  height:6px;
}
#u949.compound {
  width:0px;
  height:0px;
}
#u949 {
  position:absolute;
  left:738px;
  top:1040px;
  width:60px;
  height:106px;
}
#u950 {
  position:absolute;
  left:2px;
  top:45px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:115px;
}
#u951p000 {
  position:absolute;
  left:-16px;
  top:55px;
  width:222px;
  height:3px;
  -webkit-transform:rotate(149deg);
  -moz-transform:rotate(149deg);
  -ms-transform:rotate(149deg);
  transform:rotate(149deg);
}
#u951p000_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:224px;
  height:6px;
}
#u951.compound {
  width:0px;
  height:0px;
}
#u951 {
  position:absolute;
  left:781px;
  top:1032px;
  width:189px;
  height:114px;
}
#u952 {
  position:absolute;
  left:2px;
  top:49px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:109px;
}
#u953p000 {
  position:absolute;
  left:-9px;
  top:53px;
  width:352px;
  height:3px;
  -webkit-transform:rotate(162deg);
  -moz-transform:rotate(162deg);
  -ms-transform:rotate(162deg);
  transform:rotate(162deg);
}
#u953p000_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:354px;
  height:6px;
}
#u953.compound {
  width:0px;
  height:0px;
}
#u953 {
  position:absolute;
  left:823px;
  top:1038px;
  width:333px;
  height:108px;
}
#u954 {
  position:absolute;
  left:2px;
  top:46px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
