﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:684px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:1356px;
}
#u2851 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:1356px;
}
#u2852 {
  position:absolute;
  left:2px;
  top:670px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
