﻿body {
  margin:0px;
  background-color:rgba(233, 236, 240, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(37, 44, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1434 {
  position:absolute;
  left:2px;
  top:0px;
  width:1440px;
  height:60px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1435 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1436 {
  position:absolute;
  left:1123px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1438 {
  position:absolute;
  left:1193px;
  top:22px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:26px;
}
#u1441 {
  position:absolute;
  left:24px;
  top:15px;
  width:130px;
  height:26px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1443 {
  position:absolute;
  left:1060px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1444 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1445 {
  position:absolute;
  left:1277px;
  top:22px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1447 {
  position:absolute;
  left:1334px;
  top:22px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1449 {
  position:absolute;
  left:963px;
  top:22px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:260px;
}
#u1453 {
  position:absolute;
  left:0px;
  top:600px;
  width:1440px;
  height:260px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:122px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1456 {
  position:absolute;
  left:87px;
  top:619px;
  width:210px;
  height:231px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1458 {
  position:absolute;
  left:162px;
  top:636px;
  width:49px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1460 {
  position:absolute;
  left:162px;
  top:691px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1462 {
  position:absolute;
  left:161px;
  top:718px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1465 {
  position:absolute;
  left:370px;
  top:619px;
  width:210px;
  height:231px;
}
#u1466 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1467 {
  position:absolute;
  left:421px;
  top:636px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1469 {
  position:absolute;
  left:380px;
  top:690px;
  width:200px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1472 {
  position:absolute;
  left:680px;
  top:619px;
  width:210px;
  height:231px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1474 {
  position:absolute;
  left:731px;
  top:636px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1477 {
  position:absolute;
  left:1010px;
  top:625px;
  width:210px;
  height:231px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1479 {
  position:absolute;
  left:1061px;
  top:642px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1480 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1481 {
  position:absolute;
  left:757px;
  top:690px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1483 {
  position:absolute;
  left:1030px;
  top:690px;
  width:161px;
  height:17px;
  color:#FFFFFF;
}
#u1484 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1485 {
  position:absolute;
  left:1030px;
  top:730px;
  width:170px;
  height:17px;
  color:#FFFFFF;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1487 {
  position:absolute;
  left:1030px;
  top:769px;
  width:166px;
  height:7px;
  color:#FFFFFF;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1489 {
  position:absolute;
  left:1030px;
  top:809px;
  width:187px;
  height:17px;
  color:#FFFFFF;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:240px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:857px;
  width:1440px;
  height:240px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:112px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u1494 {
  position:absolute;
  left:699px;
  top:908px;
  width:135px;
  height:23px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
}
#u1496 {
  position:absolute;
  left:667px;
  top:994px;
  width:200px;
  height:64px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1498 {
  position:absolute;
  left:576px;
  top:958px;
  width:382px;
  height:17px;
  color:#CCCCCC;
}
#u1499 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u1500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1501 {
  position:absolute;
  left:420px;
  top:200px;
  width:600px;
  height:340px;
}
#u1502 {
  position:absolute;
  left:2px;
  top:162px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1503 {
  position:absolute;
  left:420px;
  top:123px;
  width:600px;
  height:40px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1506 {
  position:absolute;
  left:420px;
  top:123px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u1507 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1508 {
  position:absolute;
  left:456px;
  top:132px;
  width:135px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u1509 {
  position:absolute;
  left:0px;
  top:2px;
  width:135px;
  word-wrap:break-word;
}
#u1510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1511 {
  position:absolute;
  left:632px;
  top:123px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u1512 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1513 {
  position:absolute;
  left:675px;
  top:132px;
  width:145px;
  height:19px;
  font-size:18px;
  text-align:center;
}
#u1514 {
  position:absolute;
  left:0px;
  top:-2px;
  width:145px;
  word-wrap:break-word;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1516 {
  position:absolute;
  left:872px;
  top:123px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u1517 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1518 {
  position:absolute;
  left:897px;
  top:132px;
  width:135px;
  height:19px;
  font-size:18px;
  text-align:center;
}
#u1519 {
  position:absolute;
  left:0px;
  top:-2px;
  width:135px;
  word-wrap:break-word;
}
#u1520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:2px;
}
#u1520 {
  position:absolute;
  left:584px;
  top:143px;
  width:40px;
  height:1px;
}
#u1521 {
  position:absolute;
  left:2px;
  top:-8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:2px;
}
#u1522 {
  position:absolute;
  left:825px;
  top:143px;
  width:40px;
  height:1px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:-8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524 {
  position:absolute;
  left:475px;
  top:235px;
  width:500px;
  height:50px;
}
#u1524_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1525 {
  position:absolute;
  left:475px;
  top:325px;
  width:300px;
  height:50px;
}
#u1525_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
}
#u1526 {
  position:absolute;
  left:475px;
  top:291px;
  width:85px;
  height:17px;
  color:#990000;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
}
#u1528 {
  position:absolute;
  left:479px;
  top:391px;
  width:85px;
  height:17px;
  color:#990000;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1530 {
  position:absolute;
  left:790px;
  top:325px;
  width:180px;
  height:50px;
}
#u1531 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u1532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u1532 {
  position:absolute;
  left:475px;
  top:446px;
  width:500px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u1533 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
