﻿body {
  margin:0px;
  background-color:rgba(233, 236, 240, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(37, 44, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1182 {
  position:absolute;
  left:2px;
  top:0px;
  width:1440px;
  height:60px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1183 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1184 {
  position:absolute;
  left:1123px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1186 {
  position:absolute;
  left:1193px;
  top:22px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:26px;
}
#u1189 {
  position:absolute;
  left:24px;
  top:15px;
  width:130px;
  height:26px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1191 {
  position:absolute;
  left:1060px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1192 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1193 {
  position:absolute;
  left:1277px;
  top:22px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1194 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1195 {
  position:absolute;
  left:1334px;
  top:22px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1197 {
  position:absolute;
  left:963px;
  top:22px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1199 {
  position:absolute;
  left:223px;
  top:114px;
  width:90px;
  height:35px;
  font-size:20px;
  text-align:center;
}
#u1200 {
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:366px;
}
#u1202 {
  position:absolute;
  left:233px;
  top:182px;
  width:272px;
  height:365px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:70px;
  width:268px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:84px;
}
#u1204 {
  position:absolute;
  left:291px;
  top:256px;
  width:156px;
  height:84px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:34px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:366px;
}
#u1207 {
  position:absolute;
  left:566px;
  top:182px;
  width:272px;
  height:365px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:62px;
  width:268px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:84px;
}
#u1209 {
  position:absolute;
  left:624px;
  top:256px;
  width:156px;
  height:84px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:34px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:366px;
}
#u1212 {
  position:absolute;
  left:903px;
  top:182px;
  width:272px;
  height:365px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:54px;
  width:268px;
  word-wrap:break-word;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1215 {
  position:absolute;
  left:951px;
  top:477px;
  width:177px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1216 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:84px;
}
#u1217 {
  position:absolute;
  left:961px;
  top:256px;
  width:156px;
  height:84px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:34px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1220 {
  position:absolute;
  left:281px;
  top:471px;
  width:177px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1221 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1223 {
  position:absolute;
  left:614px;
  top:477px;
  width:177px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1224 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:260px;
}
#u1227 {
  position:absolute;
  left:13px;
  top:1035px;
  width:1440px;
  height:260px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:122px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1230 {
  position:absolute;
  left:100px;
  top:1054px;
  width:210px;
  height:231px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1232 {
  position:absolute;
  left:175px;
  top:1071px;
  width:49px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1234 {
  position:absolute;
  left:175px;
  top:1126px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1236 {
  position:absolute;
  left:174px;
  top:1153px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1239 {
  position:absolute;
  left:383px;
  top:1054px;
  width:210px;
  height:231px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1241 {
  position:absolute;
  left:434px;
  top:1071px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1243 {
  position:absolute;
  left:393px;
  top:1125px;
  width:200px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u1244 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1246 {
  position:absolute;
  left:693px;
  top:1054px;
  width:210px;
  height:231px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1248 {
  position:absolute;
  left:744px;
  top:1071px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1251 {
  position:absolute;
  left:1023px;
  top:1060px;
  width:210px;
  height:231px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1253 {
  position:absolute;
  left:1074px;
  top:1077px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1255 {
  position:absolute;
  left:770px;
  top:1125px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1257 {
  position:absolute;
  left:1043px;
  top:1125px;
  width:161px;
  height:17px;
  color:#FFFFFF;
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1259 {
  position:absolute;
  left:1043px;
  top:1165px;
  width:170px;
  height:17px;
  color:#FFFFFF;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1261 {
  position:absolute;
  left:1043px;
  top:1204px;
  width:166px;
  height:7px;
  color:#FFFFFF;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1263 {
  position:absolute;
  left:1043px;
  top:1244px;
  width:187px;
  height:17px;
  color:#FFFFFF;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:240px;
}
#u1266 {
  position:absolute;
  left:13px;
  top:1292px;
  width:1440px;
  height:240px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:112px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u1268 {
  position:absolute;
  left:712px;
  top:1343px;
  width:135px;
  height:23px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
}
#u1270 {
  position:absolute;
  left:680px;
  top:1429px;
  width:200px;
  height:64px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1272 {
  position:absolute;
  left:589px;
  top:1393px;
  width:382px;
  height:17px;
  color:#CCCCCC;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u1274 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:366px;
}
#u1275 {
  position:absolute;
  left:229px;
  top:600px;
  width:272px;
  height:365px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:62px;
  width:268px;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1278 {
  position:absolute;
  left:277px;
  top:895px;
  width:177px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1279 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:84px;
}
#u1280 {
  position:absolute;
  left:287px;
  top:674px;
  width:156px;
  height:84px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:34px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:366px;
}
#u1283 {
  position:absolute;
  left:571px;
  top:600px;
  width:272px;
  height:365px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:78px;
  width:268px;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:57px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1286 {
  position:absolute;
  left:619px;
  top:895px;
  width:177px;
  height:57px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1287 {
  position:absolute;
  left:2px;
  top:20px;
  width:173px;
  word-wrap:break-word;
}
#u1288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:84px;
}
#u1288 {
  position:absolute;
  left:629px;
  top:674px;
  width:156px;
  height:84px;
}
#u1289 {
  position:absolute;
  left:2px;
  top:34px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
