﻿body {
  margin:0px;
  background-color:rgba(233, 236, 240, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(37, 44, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1635 {
  position:absolute;
  left:2px;
  top:0px;
  width:1440px;
  height:60px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1636 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1637 {
  position:absolute;
  left:1123px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1638 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1639 {
  position:absolute;
  left:1193px;
  top:22px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1640 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:26px;
}
#u1642 {
  position:absolute;
  left:24px;
  top:15px;
  width:130px;
  height:26px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1644 {
  position:absolute;
  left:1060px;
  top:22px;
  width:36px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1646 {
  position:absolute;
  left:1277px;
  top:22px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1648 {
  position:absolute;
  left:1334px;
  top:22px;
  width:65px;
  height:18px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1649 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1650 {
  position:absolute;
  left:963px;
  top:22px;
  width:63px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u1651 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:260px;
}
#u1654 {
  position:absolute;
  left:0px;
  top:600px;
  width:1440px;
  height:260px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:122px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1657 {
  position:absolute;
  left:87px;
  top:619px;
  width:210px;
  height:231px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1659 {
  position:absolute;
  left:162px;
  top:636px;
  width:49px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1660 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1661 {
  position:absolute;
  left:162px;
  top:691px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1662 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1663 {
  position:absolute;
  left:161px;
  top:718px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1664 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1666 {
  position:absolute;
  left:370px;
  top:619px;
  width:210px;
  height:231px;
}
#u1667 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1668 {
  position:absolute;
  left:421px;
  top:636px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1669 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1670 {
  position:absolute;
  left:380px;
  top:690px;
  width:200px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1673 {
  position:absolute;
  left:680px;
  top:619px;
  width:210px;
  height:231px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1675 {
  position:absolute;
  left:731px;
  top:636px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:231px;
}
#u1678 {
  position:absolute;
  left:1010px;
  top:625px;
  width:210px;
  height:231px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:108px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1680 {
  position:absolute;
  left:1061px;
  top:642px;
  width:97px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1681 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1682 {
  position:absolute;
  left:757px;
  top:690px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u1683 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1684 {
  position:absolute;
  left:1030px;
  top:690px;
  width:161px;
  height:17px;
  color:#FFFFFF;
}
#u1685 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1686 {
  position:absolute;
  left:1030px;
  top:730px;
  width:170px;
  height:17px;
  color:#FFFFFF;
}
#u1687 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1688 {
  position:absolute;
  left:1030px;
  top:769px;
  width:166px;
  height:7px;
  color:#FFFFFF;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1690 {
  position:absolute;
  left:1030px;
  top:809px;
  width:187px;
  height:17px;
  color:#FFFFFF;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:240px;
}
#u1693 {
  position:absolute;
  left:0px;
  top:857px;
  width:1440px;
  height:240px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:112px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
}
#u1695 {
  position:absolute;
  left:699px;
  top:908px;
  width:135px;
  height:23px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:4px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
}
#u1697 {
  position:absolute;
  left:667px;
  top:994px;
  width:200px;
  height:64px;
}
#u1698 {
  position:absolute;
  left:2px;
  top:24px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1699 {
  position:absolute;
  left:576px;
  top:958px;
  width:382px;
  height:17px;
  color:#CCCCCC;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u1701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1702 {
  position:absolute;
  left:420px;
  top:200px;
  width:600px;
  height:300px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:142px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1704 {
  position:absolute;
  left:420px;
  top:123px;
  width:600px;
  height:40px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1707 {
  position:absolute;
  left:420px;
  top:123px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u1708 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1709 {
  position:absolute;
  left:456px;
  top:132px;
  width:135px;
  height:25px;
  font-size:18px;
  text-align:center;
}
#u1710 {
  position:absolute;
  left:0px;
  top:2px;
  width:135px;
  word-wrap:break-word;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1712 {
  position:absolute;
  left:632px;
  top:123px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u1713 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1714 {
  position:absolute;
  left:675px;
  top:132px;
  width:145px;
  height:19px;
  font-size:18px;
  text-align:center;
}
#u1715 {
  position:absolute;
  left:0px;
  top:-2px;
  width:145px;
  word-wrap:break-word;
}
#u1716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1717 {
  position:absolute;
  left:872px;
  top:123px;
  width:40px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u1718 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u1719 {
  position:absolute;
  left:897px;
  top:132px;
  width:135px;
  height:19px;
  font-size:18px;
  text-align:center;
}
#u1720 {
  position:absolute;
  left:0px;
  top:-2px;
  width:135px;
  word-wrap:break-word;
}
#u1721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:2px;
}
#u1721 {
  position:absolute;
  left:584px;
  top:143px;
  width:40px;
  height:1px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:2px;
}
#u1723 {
  position:absolute;
  left:825px;
  top:143px;
  width:40px;
  height:1px;
}
#u1724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1725 {
  position:absolute;
  left:475px;
  top:235px;
  width:500px;
  height:50px;
}
#u1725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1726 {
  position:absolute;
  left:475px;
  top:325px;
  width:500px;
  height:50px;
}
#u1726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
}
#u1727 {
  position:absolute;
  left:475px;
  top:291px;
  width:99px;
  height:17px;
  color:#990000;
}
#u1728 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990000;
}
#u1729 {
  position:absolute;
  left:479px;
  top:391px;
  width:99px;
  height:17px;
  color:#990000;
}
#u1730 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u1731 {
  position:absolute;
  left:475px;
  top:428px;
  width:500px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u1732 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
