﻿.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._顶部链接 {
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-size:18px;
  color:#FFFFFF;
}
._导航按钮 {
  font-size:18px;
  color:#336799;
}
._导航按钮_激活 {
  font-size:18px;
  color:#FFFFFF;
}
.select {
  font-size:14px;
  text-align:center;
}
._待处理 {
  color:#009900;
}
._已处理 {
  color:#999999;
}
._形状 {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.box_4 {
  color:#FFFFFF;
}
.ellipse {
}
._图像 {
  color:#000000;
}
.placeholder {
}
.default_button {
}
.primary_button {
  color:#FFFFFF;
}
._标题1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
._标题2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
._标题3 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
._标题4 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
._标题5 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  text-align:left;
}
.heading_6 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.table {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._横线 {
}
._垂直线 {
}
.connector {
}
._流程形状 {
}
._图像1 {
  color:#000000;
}
.checkbox {
  font-family:'ArialMT', 'Arial';
  font-size:30px;
  text-align:left;
}
.snapshot {
}
.flow_shape {
}
.link_button {
  color:#169BD5;
}
.new_style {
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
.new_style1 {
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
.new_style2 {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#686868;
  text-align:left;
  line-height:28px;
}
.tabletitle {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-size:14px;
}
.tablelink {
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#22A4E5;
}
.icon {
}
._表格 {
}
._单元格 {
}
._形状1 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._图片 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._文本段落 {
  text-align:left;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  color:#000000;
  text-align:left;
}
._形状2 {
  font-size:13px;
  color:#000000;
}
._图像2 {
  font-size:13px;
  color:#000000;
}
