﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:595px;
}
#u2683 {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:595px;
}
#u2684 {
  position:absolute;
  left:2px;
  top:290px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
