﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1455px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2213px;
}
#u2849 {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:2213px;
}
#u2850 {
  position:absolute;
  left:2px;
  top:1098px;
  width:1451px;
  visibility:hidden;
  word-wrap:break-word;
}
